{{ partial "head.html" . }}

<body>
    <div class="body-wrap">
        <div id="global-header">
                {{ partial "header.html" . }}
                {{ partial "card-logo.html" . }}
        </div>
        <div class="bar-wrap">
            <hr class="event-bar">
            <hr class="abstract-bar">
        </div>
        <div class="relation related-tag">
                <div class="related-tag-feed">
                    <!-- need to range so that first 5 or so get layed out then add a linebreak -->
                    <ul>
                        {{ range (where .Site.RegularPages "Section" "event" | first 2)}}
                        {{ range .Params.tag }}
                 
                            <li class="related-tag-item"> #{{ . }}</li>
                 
                        {{ end }}
                        {{end }}
                    </ul>
                </div>
            </div>
        <div class="eventlist-wrap">
                {{ range where .Site.RegularPages "Section" "event"}}
            <div class="eventlist-item">
                    <a href=" {{ .Permalink }}">   
                <div class="eventlist-image">
                    
                    <img src=" {{ .Params.ogp_image }} ">
                    <!-- <span class="eventlist-date">Sep. 30</span> -->
                </div>
                <div class="eventlist-info">
                    <h5 class="eventlist-title"> {{.Params.title_jp}}</h5>
                
                    <p class="eventlist-abs">[日時]：{{ .Params.event_date }}</p>
                    <p> [場所]：{{ .Params.event_place }}</p>
                    <div class="itemtag-row">
                            {{ range .Params.tag }}
                            <a>
                                <p>#{{ . }}</p>
                            </a>
                            {{ end }}
                    </div>
                </div>
            </div>
            {{ end }}
        </a>
        </div>
    </div>
    {{ partial "footer.html" . }}
</body>

</html>