{{ partial "head.html" . }}

<body>
    <div id="global-header">
        {{ partial "header-en.html" . }}
        {{ partial "card-logo.html" . }}
    </div>
    <div class="body-wrap">
        <div class="bar-wrap">
            <hr class="event-bar">
            <hr class="abstract-bar">
        </div>
        {{ partial "event/event-abstract.html" . }}
        {{ partial "event/event-info.html" . }}
        {{ partial "event/event-content.html" . }}
        <hr>
        {{ partial "event/event-relatedtag.html" . }}
        {{ partial "event/event-relatedproject.html" . }}
        {{ partial "event/event-relatednote.html" . }}
        {{ partial "event/event-relatedcard.html" . }}

    </div>
    {{ partial "footer-en.html" . }}
</body>

</html>