<div class="content note-contentwrap">
        <div class="info-item note-item note-approach">
                <p class="item-title">Method</p>
                {{ with delimit .Params.meta_giho_en ", " }}
                <p>{{ . }}</p>
                {{ end }}
        </div>
        <div class="info-item note-item note-topic">
                <p class="item-title">Subject</p>
                {{ with delimit .Params.meta_topic_category_en ", " }}
                <p>{{ . }}</p>
                {{ end }}
        </div>
        <div class="info-item note-item note-tag">
                <p class="item-title">Tag</p>
                {{ with delimit .Params.tag_en ", " }}
                <p>{{ . }}</p>
                {{ end }}
        </div>
        <div class="info-item note-item note-author">
                <p class="item-title">奥付</p>
                {{ with  .Params.meta_author_en  }}
                <p>カード作成者 : {{ . }}</p>
                {{ end }}
                {{ with .Params.modified_date_en  }}
                <p>改訂履歴（日付、編者）: {{ . }}</p>
                {{ end }}
                {{ with .Params.meta_place_en  }}
                <p>日付・場所: {{ . }}</p>
                {{ end }}
                
        </div>
        <div class="note-content info-content">
                {{ with .Params.main_title_eng }}<h3 class="note-content info-title">{{ . }}</h3> {{ end }}<hr>
                {{ .Params.main_content_en | markdownify }}
                <p>

                </p>
                {{ with .Params.card_reference_en }}
                <h3>Reference</h3>
                <p>
                        {{ .  | markdownify}}
                </p>
                {{ end }}
        </div>
</div>