{{ partial "head.html" . }}

<body>
    <div class="body-wrap">
        <div id="global-header">
            {{ partial "header-en.html" . }}
            {{ partial "card-logo.html" . }}
        </div>
        <div class="main">
            <div class="bar-wrap">
                <hr class="note-bar">
                <hr class="abstract-bar">
            </div>
            <div class="relation related-tag">

                <div class="related-tag-feed">

                    <ul>
                            {{ range (where .Site.RegularPages "Section" "note" | first 1)}}
                            {{ range .Params.tag_en }}
                        <a href="{{ . | relURL }}">
                            <li class="related-tag-item"> #{{ . }}</li>
                        </a>
                        {{ end }}
                        {{ end }}
                    </ul>
                    <!-- need to range so that first 5 or so get layed out then add a linebreak -->

                </div>
           
            </div>
            <div class="notelist-wrap">
                {{ range where .Site.RegularPages "Section" "note"}}
                <div class="notelist-item">
                    <a href="{{ .Permalink }}">
                        <div class="notelist-info">
                            <h5 class="notelist-title">{{ .Params.title_eng }}</h5>
                            <p class="notelist-abs">
                                {{ .Params.abstract_content_short_en }}
                            </p>
                            <div class="noteitemtag-row">
                                {{ range .Params.tag_en }}
                                <a href=" {{  .  | relURL}}">
                                    <p>#{{ . }}</p>
                                </a>
                                {{end }}
                            </div>
                        </div>
                    </a>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
    {{ partial "footer-en.html" . }}
</body>

</html>