{{ partial "head.html" . }}

<body>
    <div class="body-wrap">
            <div id="global-header">
                    {{ partial "header-en.html" . }}
                    {{ partial "card-logo.html" . }}
                </div>
        <div class="bar-wrap">
            <hr class="note-bar">
            <hr class="abstract-bar">
        </div>
        {{ partial "note-en/note-abstract.html" . }}
        {{ partial "note-en/note-content.html" . }}
        <hr>
        {{ partial "note-en/note-relatedtag.html" . }}
        {{ partial "note-en/note-relatedproject.html" . }}
        {{ partial "note-en/note-relatednote.html" . }}
        {{ partial "note-en/note-relatedcard.html" . }}
    </div>
    {{ partial "footer-en.html" . }}
</body>
</html>