{{ partial "head.html" . }}

<body>
    <div class="body-wrap">
            <div id="global-header">
                    {{ partial "header.html" . }}
                    {{ partial "card-logo.html" . }}
                </div>
        <div class="bar-wrap">
            <hr class="note-bar">
            <hr class="abstract-bar">
        </div>
        {{ partial "note/note-abstract.html" . }}
        {{ partial "note/note-content.html" . }}
        <hr>
        {{ partial "note/note-relatedtag.html" . }}
        {{ partial "note/note-relatedproject.html" . }}
        {{ partial "note/note-relatednote.html" . }}
        {{ partial "note/note-relatedcard.html" . }}
    </div>
    {{ partial "footer.html" . }}
</body>
</html>