{{ partial "head.html" . }}

<body>
    <div class="body-wrap">
        {{ partial "header.html" . }}
        {{ partial "card-logo.html" . }}
        <div class="bar-wrap">
            <hr class="project-bar">
            <hr class="abstract-bar">
        </div>
        <div class="relation related-tag">
            <div class="related-tag-feed">
                <!-- need to range so that first 5 or so get layed out then add a linebreak -->
                <ul>
                    {{ range where .Site.RegularPages "Section" "project"}}
                    {{ range .Params.tag }}
                    <a href="{{ . | relURL }}">
                        <li class="related-tag-item"> #{{ . }}</li>
                    </a>
                    {{ end }}
                    {{end }}
                </ul>
            </div>
        </div>
        <div class="projectlist-wrap">
            {{ range where .Site.RegularPages "Section" "project"}}
            <div class="projectlist-item">
                <a href=" {{ .Permalink }}">

                    <div class="projectlist-image">
                        <img src=" {{ .Params.ogp_image | relURL }} ">
                    </div>

                    <div class="projectlist-info">
                        <h5 class="projectlist-title">{{ .Params.title_jp }}</h5>
                        <p class="projectlist-abs">{{ .Params.abstract_content_short }}</p>
                        <div class="projectitemtag-row">
                            {{ range .Params.tag }}
                            <a href=" {{  .  | relURL}}">
                                <p>#{{ . }}</p>
                            </a>
                            {{ end }}
                        </div>
                    </div>
                </a>
            </div>
            {{end }}
            <!-- <div class="projectlist-item">
                <div class="projectlist-image">
                    <img src="{{ "/img/arte.png" | relURL }}">
                </div>
                <div class="projectlist-imagecap">
                    <figcaption>
                        <div class="">
                            <p>新萬來舎(第二研究室)</p>
                            <p>新萬來舎(第二研究室)</p>
                        </div>
                        <div class="">
                            <p>URI: NOG_1006</p>
                            <p>URI: NOG_1006</p>
                            <p>URI: NOG_1006</p>
                        </div>
                    </figcaption>
                </div>
                <div class="projectlist-info">
                    <h5 class="projectlist-title">「泉岳寺と禅の文化」レポート</h5>
                    <p class="projectlist-abs">堀川貴司は、日本の国文学者、慶應義塾大学教授。大阪府生まれ。東京学芸大学教育学部附属高等学校卒、</p>
                    <div class="projectitemtag-row">
                        <p>#禅</p>
                        <p>#曹洞宗</p>
                        <p>#禅</p>
                        <p>#曹洞宗</p>
                        <p>#曹洞宗</p>
                        <p>#禅</p>
                        <p>#禅</p>
                    </div>
                </div>
            </div> -->

        </div>
    </div>

    {{ partial "footer.html" . }}
</body>

</html>