<div class="relation related-cards">
    <h3>関連する<span class="card-color">カード</span></h3>
    <ul class="relatedcard-feed">
        <div class="cardfeed-item">
            <a href="">
                <h4>「形而情學其の五</h4>
                <li class="img-item"><img src="{{ "/img/pj1_bw.jpg" | relURL }}" alt="image"></li>
            </a>
        </div>
        <div class="cardfeed-item">
            <a href="">
                <h4>「形而情學其の五</h4>
                <li class="img-item"><img src="{{ "/img/pj1_bw.jpg" | relURL }}" alt="image"></li>
            </a>
        </div>
        <div class="cardfeed-item">
            <a href="">
                <h4>「形而情學其の五</h4>
                <li class="img-item"><img src="{{ "/img/pj1_bw.jpg" | relURL }}" alt="image"></li>
            </a>
        </div>
        <div class="cardfeed-item">
            <a href="">
                <h4>「形而情學其の五</h4>
                <li class="img-item"><img src="{{ "/img/pj1_bw.jpg" | relURL }}" alt="image"></li>
            </a>
        </div>
    </ul>
</div>