<div class="content card-contentwrap">
        <div class="info-item card-item card-approach">
                <p class="item-title">カードの種類</p>
                {{ with delimit .Params.meta_cardtype ", " }}<p> {{ . }}</p> {{ end }}
        </div>
        <div class="info-item card-item card-topic">
                <p class="item-title">技法</p>
                {{ with delimit .Params.meta_giho ", " }}<p> {{ . }}</p> {{ end }}
        </div>
        <div class="info-item card-item card-tag">
                <p class="item-title">主題</p>
                {{ with delimit .Params.meta_topic_category ", " }}<p> {{ . }}</p> {{ end }}
        </div>
        <div class="info-item card-item card-producer">
                <p class="item-title">タグ</p>
                {{ with delimit .Params.tag ", " }}<p> {{ . }}</p> {{ end }}
        </div>
        <div class="info-item card-item card-contact">
                <p class="item-title">所管</p>
                {{ with .Params.meta_jurisdiction  }}<p> {{ . }}</p> {{ end }}
        </div>
        <div class="info-item card-item card-author">
                <p class="item-title">奥付</p>
                {{ with .Params.meta_author  }}<p> カード作成者: {{ . }}</p> {{ end }}
                {{ with .Params.modified_date  }}<p> 改訂履歴（日付、編者）: {{ . }}</p> {{ end }}
                {{ with .Params.meta_place  }}<p> 日付・場所: {{ . }}</p> {{ end }}
        </div>
        <div class="info-content card-content">
        
                <h5 class="info-title card-title">カードについて</h5>
                <hr>
                {{ with .Params.abstract_content  }}
                <p>
                        {{ . | markdownify}}
                </p>
                {{ end }}
                <div class="info-reference">
                        <h5> リファレンス</h5>
                        {{ with .Params.card_reference  }}
                        <ul>
                                <li>
                                        {{ . | markdownify }}
                                </li>
                        </ul>
                        {{ end }}
                </div>
        </div>
        {{ .Content }}
</div>