<div class="relation card-related-project glide">
    <div data-glide-el="track" class="glide__track">
        <h3>参照された<span class="project-color">プロジェクト</span></h3>

        <ul class="relatedprj-feed glide__slides">
                {{ $randomPosts := shuffle (where .Site.RegularPages "Section" "project") | first 4 }}
                {{ range $randomPosts }}
            <div class="prjfeed-item prj-tab">
                <a href=" {{ .Permalink }}">
                    <li class="glide__slide">
                        <h5>{{ .Params.title_jp }}</h5>
                        <img src="{{ .Params.ogp_image }}">
                    </li>
                </a>
            </div>
            {{ end }}
            <!-- <div class="prjfeed-item">
                <a href="">
                    <li class="glide__slide">
                        <h5>「形而情學其の五　野花の露」（パリ）</h5>
                        <img src="{{ "/img/pj1_bw.jpg" | relURL }} ">
                    </li>
                </a>
            </div>
            <div class="prjfeed-item">
                <a href="">
                    <li class="glide__slide">
                        <h5>「形而情學其の五　野花の露」（パリ）</h5>
                        <img src="{{ "/img/pj1_bw.jpg" | relURL }} ">
                    </li>
                </a>
            </div>
            <div class="prjfeed-item">
                    <a href="">
                        <li class="glide__slide">
                            <h5>「形而情學其の五　野花の露」（パリ）</h5>
                            <img src="{{ "/img/pj1_bw.jpg" | relURL }} ">
                        </li>
                    </a>
                </div> -->
        </ul>
    </div>
</div>