<div class="relation related-notes">
    <h3>レファレンス<span class="note-color">ノート</span></h3>
    <ul class="relatednote-feed">
        <div class="notefeed-item">
            <a href="">
                <li>
                    <h5>1970年代アートの記録―Video Information Center を中心に</h5>
                    <p>
                        VIC（Video Information
                        Center）のビデオライブラリーのアーカイヴ構築と、VICの活動に関する調査研究を行うプロジェクト。VICのライブラリーは、1970-80年代のパフォーマンス・展覧会・シンポジウムなどを記録した約1,200本のテープによって構成され、「高松次郎のアトリエインタビュー」、「ナムジュン・パイクの制作現場でのインタビュー」、「菅木志雄イベント（1975）」などを含んでいます。
                    </p>
                </li>
            </a>
        </div>
        <div class="notefeed-item">
                <a href="">
                    <li>
                        <h5>1970年代アートの記録―Video Information Center を中心に</h5>
                        <p>
                            VIC（Video Information
                            Center）のビデオライブラリーのアーカイヴ構築と、VICの活動に関する調査研究を行うプロジェクト。VICのライブラリーは、1970-80年代のパフォーマンス・展覧会・シンポジウムなどを記録した約1,200本のテープによって構成され、「高松次郎のアトリエインタビュー」、「ナムジュン・パイクの制作現場でのインタビュー」、「菅木志雄イベント（1975）」などを含んでいます。
                        </p>
                    </li>
                </a>
            </div>
    </ul>
</div>