<div class="card-abs abstract-wrap">
    <div class="card-abstitle abstract-title ">
        {{ with .Params.title_jp}} <h2 class="abstitle-jp">{{.}}</h2>{{end}}
        {{ with .Params.title_eng}} <h2 class="abstitle-en">{{.}}</h2>{{end}}
    </div>
    <div class="abstract-content">
        <p> 都市とともに歴史を重ね、現代に活動する寺院は、都市が蓄積する歴史的・文化的地層を見通す窓であり、過去から現在へと繋がる都市の物語の証言者でもあります。
            1612年に徳川家康によって創建された泉岳寺は、駒込の吉祥寺旃檀林、芝愛宕の青松寺獅子窟と並ぶ、曹洞宗の江戸三学寮に数えられ、禅の学問と文化のプラットフォームとしての役割を担ってきました。本講座では、この泉岳寺を舞台に、学寮の歴史や、禅の文学と造形美術に焦点をあてたガイドツアーと講演を開催し、日本文化と禅について学びます。
        </p>
    </div>
    <div class="abstract-carousel">
        {{ partial "card/card-carousel.html" . }}
    </div>
</div>
<hr>
{{ with .Params.card_title }}{{ . }}{{ end }}
{{ with .Params.card_title_en }}{{ . }}{{ end }}



{{ with .Params.abstract }}{{ . }}
{{ end }}