<div class="content card-contentwrap">
        <div class="info-item card-item card-approach">
                <p class="item-title">カードの種類</p>
                <p>文化機関</p>
        </div>
        <div class="info-item card-item card-topic">
                <p class="item-title">アプローチカテゴリ</p>
                <p>読む</p>
        </div>
        <div class="info-item card-item card-tag">
                <p class="item-title">トピックカテゴリ</p>
                <p>読む</p>
        </div>
        <div class="info-item card-item card-producer">
                <p class="item-title">タグ</p>
                <p>読む</p>
        </div>
        <div class="info-item card-item card-contact">
                <p class="item-title">所管</p>
                <p>読む</p>
        </div>
        <div class="info-item card-item card-author">
                <p class="item-title">カード作成者</p>
                <p>読む</p>
        </div>
        <div class="info-item card-item card-revised">
                <p class="item-title">改訂履歴（日付、編者）</p>
                <p>読む</p>
        </div>
        <div class="info-item card-item card-date">
                <p class="item-title">日付・場所</p>
                <p>アプローチカテゴリ</p>
                <p>読む</p>
        </div>
        <div class="info-content card-content">
                <h5 class="info-title card-title">申込み方法、費用、仕様など</h5>
                <hr>
                <p>
                        1612年に徳川家康により外桜田に創建された泉岳寺は、寛永の大火（1641年)で焼失した後、赤穂浅野家等の大名により現在の高輪の地に再建されました。その縁で赤穂義士が当寺に埋葬されることとなりました。また幕末までは曹洞宗江戸三学寮の一つとして学僧200名ほどが参学する叢林でありました。昭和20年5月の空襲では伽藍のほとんどが焼失しましたが、義士墓所は戦災を免れ、元禄当時のままです。
                </p>

                <h5>学寮公開講座</h5>

                <p>赤穂義士の廟所として世に知られる泉岳寺は、吉祥寺旃檀林・青松寺獅子窟とならぶ江戸三学寮のひとつとして、諸国から集う学僧に仏典・祖録・漢籍などを講じ、曹洞宗僧侶の養成に寄与してきました。明治以降、学寮は他の学林と統合され現在の駒沢大学へと継承されました。平成16年4月に旧義士館を改装して講堂とし、学寮の伝統を踏まえて定期的に法筵を啓き、公開講座として広く一般から受講者を募り、祖録の提唱と仏典、漢籍の講義を行っています。
                </p>
                <div class="info-reference">
                        <h5> リファレンス</h5>
                        <ul>
                                <li>
                                        <p>タイトル：泉岳寺</p>
                                        <p>タグ：公式</p>
                                        <p>アクセスポイント：http://www.sengakuji.or.jp/</p>
                                        <p>説明：泉岳寺のオフィシャルウェブサイト。行事や学寮講座の説明など</p>
                                </li>
                        </ul>
                </div>
        </div>
        {{ .Content }}
</div>