{{ partial "head.html" . }}

<body>
    <div class="body-wrap">
        <div id="global-header">
            {{ partial "header.html" . }}
            {{ partial "card-logo.html" . }}
        </div>
        <div class="bar-wrap">
            <hr class="card-bar">
            <hr class="abstract-bar">
        </div>
        <div class="relation related-tag">
            <div class="related-tag-feed">
                <!-- need to range so that first 5 or so get layed out then add a linebreak -->
                <ul>
                    {{ range where .Site.RegularPages "Section" "card"}}
                    {{ range .Params.tag_en }}
                    <a href="{{ . | relURL }}">
                        <li class="related-tag-item"> #{{ . }}</li>
                    </a>
                    {{ end }}
                    {{end }}
                </ul>
            </div>
        </div>
        <div class="cardlist-wrap">
            {{ range where .Site.RegularPages "Section" "card"}}
            <div class="cardlist-item">
                <a href=" {{ .Permalink }}">
                    <div class="cardlist-image">
                        <img src=" {{ .Params.ogp_image | relURL }} ">
                    </div>
                    <div class="cardlist-imagecap">
                        <figcaption>
                            <div class="">
                                <p>新萬來舎(第二研究室)</p>
                                <p>新萬來舎(第二研究室)</p>
                            </div>
                            <div class="">
                                <p>URI: NOG_1006</p>
                                <p>URI: NOG_1006</p>
                                <p>URI: NOG_1006</p>
                            </div>
                        </figcaption>
                    </div>
                    <div class="cardlist-info">
                        <h5 class="cardlist-title">{{ .Params.title_eng }}</h5>
                        <p class="cardlist-abs">{{ .Params.abstract_content_en }}</p>
                        <div class="itemtag-row">
                            {{ range .Params.tag_en }}
                            <a href=" {{  .  | relURL}}">
                                <p>#{{ . }}</p>
                            </a>
                            {{ end }}
                        </div>
                    </div>
                </a>
            </div>
            {{ end }}
            <!-- <div class="cardlist-item">
                <a href="">
                    <div class="cardlist-image">
                        <img src="{{ "/img/dummy2.jpg" | relURL }}">
                    </div>
                    <div class="cardlist-imagecap">
                        <figcaption>
                            <div class="">
                                <p>新萬來舎(第二研究室)</p>
                                <p>新萬來舎(第二研究室)</p>
                            </div>
                            <div class="">
                                <p>URI: NOG_1006</p>
                                <p>URI: NOG_1006</p>
                                <p>URI: NOG_1006</p>
                            </div>
                        </figcaption>
                    </div>
                    <div class="cardlist-info">
                        <h5 class="cardlist-title">「泉岳寺と禅の文化」レポート</h5>
                        <p class="cardlist-abs">堀川貴司は、日本の国文学者、慶應義塾大学教授。大阪府生まれ。東京学芸大学教育学部附属高等学校卒、</p>
                        <div class="itemtag-row">
                            <p>#禅</p>
                            <p>#曹洞宗</p>
                            <p>#禅</p>
                            <p>#曹洞宗</p>
                            <p>#曹洞宗</p>
                            <p>#禅</p>
                            <p>#禅</p>
                        </div>
                    </div>
                </a>
            </div> -->

            <!-- for bodywrap -->
        </div>
    </div>
    {{ partial "footer.html" . }}
</body>

</html>