{{ partial "head.html" . }}

<body>
    <div class="body-wrap">
        <div id="global-header">
            {{ partial "header-en.html" . }}
            {{ partial "card-logo.html" . }}
        </div>
        <div class="main">
        <div class="bar-wrap">
            <hr class="card-bar">
            <hr class="abstract-bar">
        </div>
        {{ partial "card-en/card-abstract.html" . }}
        {{ partial "card-en/card-content.html" . }}
        <hr>
        {{ partial "card-en/card-relatedtag.html" . }}
        {{ partial "card-en/card-relatedproject.html" . }}
        {{ partial "card-en/card-relatednote.html" . }}
        {{ partial "card-en/card-relatedcard.html" . }}
    </div>
    </div>
    {{ partial "footer-en.html" . }}
</body>

</html>