<ul class="img-slider abstract-slider">
        {{ range .Params.project_images }}<li class="img-item"><img src="{{ . | relURL }}" alt="image"><div class="abstract-caption"><p>
                        キャプション：Artefact 表紙</br>
                        ライセンス表記：CC-BY-NC</br>
                        クレジットライン：慶應義塾大学アート・センター／レトリカ／写真：ヨシュア
                    </p></div></li>{{ end }}
                    <li class="img-item"><img src="{{ "img/dummy.jpg" | relURL }}" alt="image"><div class="abstract-caption"><p>
                                Artefact 表紙</br>
                                CC-BY-NC</br>
                                クレジット：慶應義塾大学アート・センター／レトリカ／写真：ヨシュア
                            </p></div></li>
                            <li class="img-item"><img src="{{ "img/dummy.jpg" | relURL }}" alt="image"><div class="abstract-caption"><p>
                                        Artefact 表紙</br>
                                        CC-BY-NC</br>
                                        クレジット：慶應義塾大学アート・センター／レトリカ／写真：ヨシュア
                                    </p></div></li>
                                    <li class="img-item"><img src="{{ "img/dummy.jpg" | relURL }}" alt="image"><div class="abstract-caption"><p>
                                                Artefact 表紙</br>
                                                CC-BY-NC</br>
                                                クレジット：慶應義塾大学アート・センター／レトリカ／写真：ヨシュア
                                            </p></div></li>
                                            
                        
</ul>