<footer class="global-footer">
    <div class="footer-wrap">
        <div class="footer-info">
            <div class="footer-item">
                {{ partial "box-logo.html" . }}
            </div>
            <div class="footer-item">
                <h4>お問い合わせ</h4>
                <p>慶應義塾大学アート・センター<br>
                    108-8345 東京都港区三田2-15-45<br>
                    電話 03-5427-1621 <br>Fax 03-5427-1620</p>
                <p>メールでのお問い合わせ</p>
                <p>info@culnarra.com</p>
                <div class="footer-icons">
                        <a href="https://www.instagram.com/culnarra/">{{ partial "instagram-logo.html" . }}</a>
                        <a href="https://twitter.com/culnarra">{{ partial "twitter-logo.html" . }}</a>
                        <a href="https://www.facebook.com/culnarra/">{{ partial "facebook-logo.html" . }}</a>
                </div>
            </div>
            <div class="footer-item" id="copyright">
                <p>© 1993-2019 慶應義塾大学アート・センター Keio University Art Center</p>
            </div>
        </div>

        <div class="footer-social">
            {{ partial "twitter-feed.html" . }}
        </div>
    </div>
</footer>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script src="{{ "/js/bundle.js" | relURL}}"></script>