</div>
<footer class="global-footer">
    <div class="footer-wrap">
    <div class="footer-info">
        <div class="footer-item">
            {{ partial "box-logo.html" . }}
        </div>
        <div class="footer-item">
            <h4>お問い合わせ</h4>
            <p>慶應義塾大学アート・センター<br>
                108-8345 東京都港区三田2-15-45<br>
                電話 03-5427-1621 <br>Fax 03-5427-1620</p>
            <h4>メールでのお問い合わせ</h4>
            <p></p>
            <h4>アーカイヴへのお問い合わせ </h4>
            <p><a>アーカイヴ利用案内をご覧下さい</a></p>
        </div>
        <div class="footer-item">
            <p>© 1993-2019 慶應義塾大学アート・センター Keio University Art Center</p>
        </div>
    </div>
    <div class="footer-social">
        {{ partial "twitter-feed.html" . }}
    </div>
</div>
</footer>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script src="{{ "/js/bundle.js" | relURL}}"></script>
</body>
</html>