<header>
        <div class="row between-xs">
            <div class="bl-btm col-xs-2">
                <p>Cultural Narrative of a City</p>
            </div>
            <nav>
                <ul>
                       <li><a src="{{ .Site.BaseURL }}">カード</a></li>
                       <li><a src="{{ .Site.BaseURL }}">プロジェクト</a></li>
                       <li><a src="{{ .Site.BaseURL }}">ノート</a></li>
                       <li><a src="{{ .Site.BaseURL }}">イベント</a></li>
                </ul>
            </nav>


            <div class="col-xs-2 languages">
                <ul class="row">
                        <li><a src="{{ .Site.BaseURL }}">このサイトについて</a></li>
                    <li><a src="{{ .Site.BaseURL }}">English</a></li>
                    <li><a src="{{ .Site.BaseURL }}jp/">Japanese</a></li>
                </ul>
            </div>
        </div>
    </header>