<div class="relation related-note">
    <h3>このカードに紐付いている<span class="note-color">カード</span></h3>
    <ul class="relatednote-feed">
        <div class="notefeed-item">
            <a href="">
                <h4>「形而情學其の五</h4>
                <li class="img-item"><img src="{{ "/img/pj1_bw.jpg" | relURL }}" alt="image"></li>
            </a>
        </div>
        <div class="notefeed-item">
            <a href="">
                <h4>「形而情學其の五</h4>
                <li class="img-item"><img src="{{ "/img/pj1_bw.jpg" | relURL }}" alt="image"></li>
            </a>
        </div>
        <div class="notefeed-item">
            <a href="">
                <h4>「形而情學其の五</h4>
                <li class="img-item"><img src="{{ "/img/pj1_bw.jpg" | relURL }}" alt="image"></li>
            </a>
        </div>
    </ul>
</div>