{{ partial "head.html" . }}

<body>
    <!-- <div id="global-header">
                {{ partial "header.html" . }}
                {{ partial "card-logo.html" . }}
            </div> -->
    <div class="body-wrap">
        <div id="global-header">
            {{ partial "header.html" . }}
            {{ partial "card-logo.html" . }}
        </div>
        <div class="index-wrap">
            {{ partial "blkbox-logo.html" . }}
            <div class="index-items index-about">
                <h4>Cultural Narrative of a City</h4>
                <p>This project is presenting various Cultural Narratives of an urban city, by connecting cultural resources past and present, and scholarly research on culture. This website collects and shares references for everyone to create their own narratives.
                        Cards share overviews of local cultural institutions and resources.
                        Projects and events introduce events and activities based on cultural resources.
                        Notes further explain the contents of Cards and Projects.
                        
                </p>
            </div>
            <div class="index-history">
                <h4>Revision History</h4>
                <ul>
                    <li>
                        <a href="https://medium.com/@culnarra/about-website-9e7756926282">■Introducing the website (prototype)</a>
                    </li>
                    <li>
                        <a href="https://medium.com/@culnarra/intern-blog-93ae3c2e0500">■カルナラ！インターン生ブログを始めました</a>
                    </li>


                </ul>
            </div>
            <div class="index-card-1 index-mod">
                {{ with .Site.GetPage "page" "/card/zojoji"}}
                <a href="{{ .Permalink }}">
                    <h5 class="index-notetitle"> {{ .Params.title_eng }}</h5>
                    <img src="{{ .Params.ogp_image }}">
                </a>
                {{ end }}
            </div>
            <div class="index-card-2 index-mod">
                {{ with .Site.GetPage "page" "/event/architecture-forum"}}
                <a href="{{ .Permalink }}">
                    <h5 class="index-notetitle"> {{ .Params.title_eng }}</h5>
                    <img src="{{ .Params.ogp_image }}">
                </a>
                {{ end }}
            </div>
            <div class="index-tags">
                <div class="relation related-tag">
                    <div class="related-tag-feed">
                        <!-- need to range so that first 5 or so get layed out then add a linebreak -->
                        <ul>
                            {{ $randomPosts := shuffle (where .Site.RegularPages "Section" "card") | first 3 }}
                            {{ range $randomPosts }}
                            
                            {{range .Params.tag_en}}
                            <li class="related-tag-item"> #{{ . }}</li>
                            <!-- </a>-->
                            {{ end }} 
                            {{end }}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="index-card-3 index-mod">
                {{ with .Site.GetPage "page" "/card/Sogetsu"}}
                <a href="{{ .Permalink }}">
                    <h5 class="index-notetitle"> {{ .Params.title_eng }}</h5>
                    <img src="{{ .Params.ogp_image }}">
                </a>
                {{ end }}
            </div>
            <!-- grid row 4 -->
            <div class="index-card-4 index-mod">
                {{ with .Site.GetPage "page" "/card/toraya-archives"}}
                <a href="{{ .Permalink }}">
                    <h5 class="index-notetitle"> {{ .Params.title_eng }}</h5>
                    <img src="{{ .Params.ogp_image }}">
                </a>
                {{ end }}
            </div>
            <div class="index-card-5 index-mod">
                {{ with .Site.GetPage "page" "/event/ryugenji"}}
                <a href="{{ .Permalink }}">
                    <h5 class="index-notetitle"> {{ .Params.title_eng }}</h5>
                    <img src="{{ .Params.ogp_image }}">
                </a>
                {{ end }}
            </div>
            <div class="index-card-6 note-module">
                <div class="index-note">
                    {{ with .Site.GetPage "page" "/note/scholarship-zen"}}
                    <a href="{{ .Permalink }}">
                        <h5 class="index-notetitle">{{ .Params.title_eng }}</h5>
                        <p class="index-notebody">
                            {{ .Params.abstract_content_short_en }}
                        </p>
                    </a>
                    {{ end }}
                    <!-- 3 -->
                </div>

            </div>
        </div>
    </div>
    <div class="secondary-index-wrap">
        <div class="snd-index-img">
            <img src="{{ "/img/index/index-1.jpg" | relURL }}">
        </div>
        <!-- <div class="snd-card-0">
                <a href="">
                        <h5>ARTEFACT 02 特集：インターンシップ</h5>
                        <p>アデレードフェスティバル「Masterkey」「形而情學其の五　野花の露」（パリ）</p>
                    </a>
        </div> -->
        <div class="snd-card-1 index-projmod">
            {{ with .Site.GetPage "page" "/project/ARTEFACT02"}}
            <a href="{{ .Permalink }}">
                <h5> {{ .Params.title_eng }}</h5>
                <img src="{{ .Params.ogp_image }}">
            </a>
            {{ end }}
        </div>
        <div class="snd-card-2 note-module">
            <div class="index-note">
                    {{ with .Site.GetPage "page" "/note/realization-zen"}}
                <a href="{{ .Permalink }}">
                    <!-- 2 -->
                    <h5 class="index-notetitle">{{ .Params.title_eng }}
                    </h5>
                    <p class="index-notebody">
                        {{ .Params.abstract_content_short_en}}

                    </p>
                </a>
                {{ end }}
            </div>

        </div>
        <div class="snd-card-3 index-mod">
            {{ with .Site.GetPage "page" "/card/KUAC"}}
            <a href="{{ .Permalink }}">
                <h5 class="index-notetitle"> {{ .Params.title_eng }}</h5>
                <img src="{{ .Params.ogp_image }}">
            </a>
            {{ end }}
        </div>
        <div class="snd-card-4 index-mod">
            {{ with .Site.GetPage "page" "/card/ajinomotofoundation"}}
            <a href="{{ .Permalink }}">
                <h5 class="index-notetitle"> {{ .Params.title_eng }}</h5>
                <img src="{{ .Params.ogp_image }}">
            </a>
            {{ end }}
        </div>
        <div class="snd-index-img2">
            <img src="{{ "/img/index/index-2.jpg" | relURL }}">

        </div>
        <div class="snd-card-5 index-mod">
            {{ with .Site.GetPage "page" "/card/JCRI"}}
            <a href="{{ .Permalink }}">
                <h5 class="index-notetitle"> {{ .Params.title_eng }}</h5>
                <img src="{{ .Params.ogp_image }}">
            </a>
            {{ end }}
        </div>
        <div class="snd-card-6 note-module">
            <div class="index-note">
                {{ with .Site.GetPage "page" "/event/sengakuji"}}
                <a href="{{ .Permalink }}">
                    <div class="note-bar"></div>
                    <!-- 1 -->
                    <h5 class="index-notetitle"> {{ .Params.title_eng }}
                    </h5>
                    <p class="index-notebody">
                        {{ .Params.abstract_content_short_en }}
                    </p>
                </a>
                {{end }}
            </div>
        </div>
    </div>

    <!-- for body wrap -->
    {{ partial "footer-en.html" . }}
</body>

</html>