{{ partial "head.html" . }}
{{ partial "header.html" . }}

<body>
    <div class="body-wrap">
        <div class="index-wrap">
            {{ partial "blkbox-logo.html" . }}
            <div class="index-items index-about">
                <h4>このサイトについて：都市のカルチュラル・ナラティヴとは？</h4>
                <p>土方巽の《禁色》（1959）発表から半世紀が過ぎ、舞踏は国や地域を越えた広がりを見せています。世界の各地でパフォーマンスやワークショップが開催されているほか、様々な研究者により舞踏研究が行われています。「舞踏：越境する身体」では、舞踏の実践や研究の国際的な状況を調査し、国内の動向と接続することを目指しています。また同時に、慶應義塾大学アート・センターの土方巽アーカイヴで行われてい
                </p>
            </div>
            <div class="index-history">
                <h4>更新履歴</h4>
                <ul>
                    <li>
                        ■「東京ビエンナーレ1970」展示再構成図をオンライン公開
                    </li>
                    <li>
                        ■「東京ビエンナーレ1970」展示再構成図をオンライン公開
                    </li>
                    <li>
                        ■「東京ビエンナーレ1970」展示再構成図をオンライン公開
                    </li>
                    <li>
                        ■「東京ビエンナーレ1970」展示再構成図をオンライン公開
                    </li>
                    <li>
                        ■「東京ビエンナーレ1970」展示再構成図をオンライン公開
                    </li>

                </ul>
            </div>
            <div class="index-card-1">
                <a href="">
                    <p>アデレードフェスティバル「Masterkey」「形而情學其の五　野花の露」（パリ）</p>
                    <img src="{{ "/img/index/index-1.jpg" | relURL }}">
                </a>
            </div>
            <div class="index-card-2">
                <a href="">
                    <p>アデレードフェスティバル「Masterkey」「形而情學其の五　野花の露」（パリ）</p>
                    <img src="{{ "/img/pj1_bw.jpg" | relURL }}">
                </a>
            </div>
            <div class="index-tags">
                <ul>
                    <div class="index-tags-row">
                        <a href="">
                            <li>#江戸時代</li>
                        </a>
                        <a href="">
                            <li>#江戸時代</li>
                        </a>
                        <a href="">
                            <li>#江戸時代</li>
                        </a>
                    </div>
                    <div class="index-tags-row">
                        <a href="">
                            <li>#江戸時代</li>
                        </a>
                        <a href="">
                            <li>#江戸時代</li>
                        </a>
                        <a href="">
                            <li>#江戸時代</li>
                        </a>
                        <a href="">
                            <li>#江戸時代</li>
                        </a>
                        <a href="">
                            <li>#江戸時代</li>
                        </a>
                    </div>
                    <div class="index-tags-row">
                        <a href="">
                            <li>#江戸時代</li>
                        </a>
                        <a href="">
                            <li>#江戸時代</li>
                        </a>
                        <a href="">
                            <li>#江戸時代</li>
                        </a>
                    </div>
                </ul>
            </div>
            <div class="index-card-3">
                <a href="">
                    <p>アデレードフェスティバル「Masterkey」「形而情學其の五　野花の露」（パリ）</p>
                    <img src="{{ "/img/pj1_bw.jpg" | relURL }}">
                </a>
            </div>
            <!-- grid row 4 -->
            <div class="index-card-4">
                <a href="">
                    <p>アデレードフェスティバル「Masterkey」「形而情學其の五　野花の露」（パリ）</p>
                    <img src="{{ "/img/pj1_bw.jpg" | relURL }}">
                </a>
            </div>
            <div class="index-card-5">
                <a href="">
                    <p>アデレードフェスティバル「Masterkey」「形而情學其の五　野花の露」（パリ）</p>
                    <img src="{{ "/img/pj1_bw.jpg" | relURL }}">
                </a>
            </div>
            <div class="index-card-6 note-module">
                <div class="index-note">
                    <a href="">
                        <!-- 3 -->
                        <h5 class="index-notetitle">禅宗寺院の学問と文化</h5>
                        <p class="index-notebody">
                            特別見学＆トーク「ギャラリーと公共性」では、40年近くに渡り港区で活動してきた横田茂ギャラリーの活動と、書籍や印刷物を中心に扱うTPH、戦後日本美術資料のアーカイヴ構築を行うJCRIの活動が紹介された。ギャラリーは作品をめぐる経済活動の場と思われがちだが、実際にはより広い「公共性」を担う場所であることが確認された。
                            ギャラリー見学では、展示スペースとバックヤードが紹介された。トークでは、横田氏が、美術とはそれぞれの時代精神や世界観を示すもので、ギャラリーは

                        </p>
                    </a>
                </div>

            </div>
        </div>
    </div>
    <div class="secondary-index-wrap">
        <div class="snd-index-img">
            <img src="{{ "/img/index/index-1.jpg" | relURL }}">
        </div>
        <!-- <div class="snd-card-0">
                <a href="">
                        <h5>ARTEFACT 02 特集：インターンシップ</h5>
                        <p>アデレードフェスティバル「Masterkey」「形而情學其の五　野花の露」（パリ）</p>
                    </a>
        </div> -->
        <div class="snd-card-1">
            <a href="">
                <h5>ARTEFACT 02 特集：インターンシップ</h5>
                <p>アデレードフェスティバル「Masterkey」「形而情學其の五　野花の露」（パリ）</p>
            </a>
        </div>
        <div class="snd-card-2 note-module">
            <div class="index-note">
                <a href="{{ "/event/architecture-forum/" | relURL }}">
                    <!-- 2 -->
                    <h5 class="index-notetitle">ギャラリーから考える公共性──日本橋から竹橋へ／40年の対話
                    </h5>
                    <p class="index-notebody">
                        特別見学＆トーク「ギャラリーと公共性」では、40年近くに渡り港区で活動してきた横田茂ギャラリーの活動と、書籍や印刷物を中心に扱うTPH、戦後日本美術資料のアーカイヴ構築を行うJCRIの活動が紹介された。ギャラリーは作品をめぐる経済活動の場と思われがちだが、実際にはより広い「公共性」を担う場所であることが確認された。
                        ギャラリー見学では、展示スペースとバックヤードが紹介された。トークでは、横田氏が、美術とはそれぞれの時代精神や世界観を示すもので、ギャラリーはメッセージの発信者としての芸術家と公衆との間にあって、お互いを仲介するものだと

                    </p>
                </a>
            </div>

        </div>
        <div class="snd-card-3">
            <a href="">
                <p>アデレードフェスティバル「Masterkey」「形而情學其の五　野花の露」（パリ）</p>
                <img src="{{ "/img/pj1_bw.jpg" | relURL }}">
            </a>
        </div>
        <div class="snd-card-4">
            <a href="">
                <p>アデレードフェスティバル「Masterkey」「形而情學其の五　野花の露」（パリ）</p>
                <img src="{{ "/img/pj1_bw.jpg" | relURL }}">
            </a>
        </div>
        <div class="snd-index-img2">
            <img src="{{ "/img/index/index-2.jpg" | relURL }}">
        </div>
        <div class="snd-card-5">
            <a href="">
                <p>アデレードフェスティバル「Masterkey」「形而情學其の五　野花の露」（パリ）</p>
                <img src="{{ "/img/pj1_bw.jpg" | relURL }}">
            </a>
        </div>
        <div class="snd-card-6 note-module">
            <div class="index-note">
                <a href="{{ "/event/sengakuji/" | relURL }}">
                    <!-- 1 -->
                    <h5 class="index-notetitle">禅の精神が教えてくれる「気づく」こと
                    </h5>
                    <p class="index-notebody">
                        慶應義塾大学学生による、龍源寺での座禅ワークショップ参加レポートです。座禅ワークショップへの参加を通じて、あらゆる情報が手に入り、評価や価値観がめまぐるしく変化していく現代において、自ら気づくことの重要性を認識し、そして、その気づきを支える存在としての寺院の役割を学んだといいます。
                    </p>
                </a>
            </div>
        </div>
    </div>

    <!-- for body wrap -->
    {{ partial "footer.html" . }}
</body>

</html>