{{ partial "head.html" . }}

<body>

    <div class="body-wrap">
        <div id="global-header">
            {{ partial "header.html" . }}
            {{ partial "card-logo.html" . }}
        </div>
        <div class="index-wrap">
            {{ partial "blkbox-logo.html" . }}
            <div class="index-items index-about">
                <h4>都市のカルチュラル・ナラティヴ</h4>
                <p>今昔の文化資源や、文化を巡る学術的な成果を相互に連結し、多様な文化の物語（カルチュラル・ナラティヴ）を形づくるプロジェクト。このウェブサイトは、文化の物語を紡いでゆくための情報を集めた、カード型レファレンス集です。
                        カード：地域の文化機関や文化資源の情報
                        プロジェクト＆イベント：文化資源を活用したイベントや活動の情報
                        ノート：カードやプロジェクトの解説
                        
                </p>
            </div>
            <div class="index-history">
                <h4>更新履歴</h4>
                <ul>
                    <li>
                        <a href="https://medium.com/@culnarra/about-website-9e7756926282">■ウェブサイト（プロトタイプ版）について</a>
                    </li>
                    <li>
                        <a href="https://medium.com/@culnarra/intern-blog-93ae3c2e0500">■カルナラ！インターン生ブログを始めました</a>
                    </li>


                </ul>
            </div>
            <div class="index-card-1 index-mod">
                <a href="">
                    <p>アデレードフェスティバル「Masterkey」「形而情學其の五　野花の露」（パリ）</p>
                    <img src="{{ "/img/index/index-1.jpg" | relURL }}">
                </a>
            </div>
            <div class="index-card-2 index-mod">
                <a href="">
                    <p>アデレードフェスティバル「Masterkey」「形而情學其の五　野花の露」（パリ）</p>
                    <img src="{{ "/img/pj1_bw.jpg" | relURL }}">
                </a>
            </div>
            <div class="index-tags">
                <div class="relation related-tag">
                    <div class="related-tag-feed">
                        <!-- need to range so that first 5 or so get layed out then add a linebreak -->
                        <ul>
                            {{ range where .Site.RegularPages "Section" "project"}}
                            {{ range .Params.tag }}
                            <a href="{{ . | relURL }}">
                                <li class="related-tag-item"> #{{ . }}</li>
                            </a>
                            {{ end }}
                            {{end }}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="index-card-3 index-mod">
                <a href="">
                    <p>アデレードフェスティバル「Masterkey」「形而情學其の五　野花の露」（パリ）</p>
                    <img src="{{ "/img/pj1_bw.jpg" | relURL }}">
                </a>
            </div>
            <!-- grid row 4 -->
            <div class="index-card-4 index-mod">
                <a href="">
                    <p>アデレードフェスティバル「Masterkey」「形而情學其の五　野花の露」（パリ）</p>
                    <img src="{{ "/img/pj1_bw.jpg" | relURL }}">
                </a>
            </div>
            <div class="index-card-5 index-mod">
                <a href="">
                    <p>アデレードフェスティバル「Masterkey」「形而情學其の五　野花の露」（パリ）</p>
                    <img src="{{ "/img/pj1_bw.jpg" | relURL }}">
                </a>
            </div>
            <div class="index-card-6 note-module">
                <div class="index-note">
                    <a href="">
                        <!-- 3 -->
                        <h5 class="index-notetitle">禅宗寺院の学問と文化</h5>
                        <p class="index-notebody">
                            特別見学＆トーク「ギャラリーと公共性」では、40年近くに渡り港区で活動してきた横田茂ギャラリーの活動と、書籍や印刷物を中心に扱うTPH、戦後日本美術資料のアーカイヴ構築を行うJCRIの活動が紹介された。ギャラリーは作品をめぐる経済活動の場と思われがちだが、実際にはより広い「公共性」を担う場所であることが確認された。
                            ギャラリー見学では、展示スペースとバックヤードが紹介された。トークでは、横田氏が、美術とはそれぞれの時代精神や世界観を示すもので、ギャラリーは

                        </p>
                    </a>
                </div>

            </div>
        </div>
    </div>
    <div class="secondary-index-wrap">
        <div class="snd-index-img">
            <img src="{{ "/img/index/index-1.jpg" | relURL }}">
        </div>
        <!-- <div class="snd-card-0">
                <a href="">
                        <h5>ARTEFACT 02 特集：インターンシップ</h5>
                        <p>アデレードフェスティバル「Masterkey」「形而情學其の五　野花の露」（パリ）</p>
                    </a>
        </div> -->
        <div class="snd-card-1 index-projmod">
            <a href="">
                <h5>ARTEFACT 02 特集：インターンシップ</h5>

            </a>
        </div>
        <div class="snd-card-2 note-module">
            <div class="index-note">
                <a href="{{ "/event/architecture-forum/" | relURL }}">
                    <!-- 2 -->
                    <h5 class="index-notetitle">ギャラリーから考える公共性──日本橋から竹橋へ／40年の対話
                    </h5>
                    <p class="index-notebody">
                        特別見学＆トーク「ギャラリーと公共性」では、40年近くに渡り港区で活動してきた横田茂ギャラリーの活動と、書籍や印刷物を中心に扱うTPH、戦後日本美術資料のアーカイヴ構築を行うJCRIの活動が紹介された。ギャラリーは作品をめぐる経済活動の場と思われがちだが、実際にはより広い「公共性」を担う場所であることが確認された。
                        ギャラリー見学では、展示スペースとバックヤードが紹介された。トークでは、横田氏が、美術とはそれぞれの時代精神や世界観を示すもので、ギャラリーはメッセージの発信者としての芸術家と公衆との間にあって、お互いを仲介するものだと

                    </p>
                </a>
            </div>

        </div>
        <div class="snd-card-3 index-mod">
            <a href="">
                <p>アデレードフェスティバル「Masterkey」「形而情學其の五　野花の露」（パリ）</p>
                <img src="{{ "/img/pj1_bw.jpg" | relURL }}">
            </a>
        </div>
        <div class="snd-card-4 index-mod">
            <a href="">
                <p>アデレードフェスティバル「Masterkey」「形而情學其の五　野花の露」（パリ）</p>
                <img src="{{ "/img/pj1_bw.jpg" | relURL }}">
            </a>
        </div>
        <div class="snd-index-img2">
            <img src="{{ "/img/index/index-2.jpg" | relURL }}">
        </div>
        <div class="snd-card-5 index-mod">
            <a href="">
                <p>アデレードフェスティバル「Masterkey」「形而情學其の五　野花の露」（パリ）</p>
                <img src="{{ "/img/pj1_bw.jpg" | relURL }}">
            </a>
        </div>
        <div class="snd-card-6 note-module">
            <div class="index-note">
                <a href="{{ "/event/sengakuji/" | relURL }}">
                    <div class="note-bar"></div>
                    <!-- 1 -->
                    <h5 class="index-notetitle">禅の精神が教えてくれる「気づく」こと
                    </h5>
                    <p class="index-notebody">
                        慶應義塾大学学生による、龍源寺での座禅ワークショップ参加レポートです。座禅ワークショップへの参加を通じて、あらゆる情報が手に入り、評価や価値観がめまぐるしく変化していく現代において、自ら気づくことの重要性を認識し、そして、その気づきを支える存在としての寺院の役割を学んだといいます。
                    </p>
                </a>
            </div>
        </div>
    </div>

    <!-- for body wrap -->
    {{ partial "footer.html" . }}
</body>

</html>