<div class="relation related-notes">
    <h3><span class="note-color">Notes</span> Referencing This Card</h3>
    <ul class="relatednote-feed">
            {{ $randomPosts := shuffle (where .Site.RegularPages "Section" "note") | first 4 }}
            {{ range $randomPosts }}
        <div class="notefeed-item note-tab">
            <a href=" {{ .Permalink }}">
                <li>
                    <h5>{{ .Params.title_eng }}</h5>
                    <p>
                        {{ .Params.abstract_content_short_en}}
                    </p>
                </li>
            </a>
        </div>
        {{ end }}
        <!-- <div class="notefeed-item">
                <a href="">
                    <li>
                        <h5>1970年代アートの記録―Video Information Center を中心に</h5>
                        <p>
                            VIC（Video Information
                            Center）のビデオライブラリーのアーカイヴ構築と、VICの活動に関する調査研究を行うプロジェクト。VICのライブラリーは、1970-80年代のパフォーマンス・展覧会・シンポジウムなどを記録した約1,200本のテープによって構成され、「高松次郎のアトリエインタビュー」、「ナムジュン・パイクの制作現場でのインタビュー」、「菅木志雄イベント（1975）」などを含んでいます。
                        </p>
                    </li>
                </a>
            </div> -->
    </ul>
</div>