<div class="content project-contentwrap">
        <div class="info-item project-item project-approach">
            <p class="item-title">技法</p>
            {{ with .Params.meta_giho }}
            <p>{{ .  }}</p>
            {{ end }}
        </div>
        <div class="info-item project-item project-topic">
                        <p class="item-title">技法</p>
                        {{ with delimit .Params.meta_giho ", " }}
                        <p>{{ . }}</p>
                        {{ end }}
        </div>
        <div class="info-item project-item project-tag">
                        <p class="item-title">主題</p>
                        {{ with delimit .Params.meta_topic_category ", " }}
                        <p>{{ . }}</p>
                        {{ end }}
        </div>
        <div class="info-item project-item project-producer">
                <p class="item-title">タグ</p>
                {{ with delimit .Params.tag ", " }}
                        <p>{{ . }}</p>
                        {{ end }}
        </div>
        <div class="info-item project-item project-contact">
                <p class="item-title">製作</p>
                {{ with .Params.meta_credit }}
                        <p>{{ . | markdownify }}</p>
                        {{ end }}
        </div>
        <div class="info-item project-item project-author">
                <p class="item-title">奥付</p>
                <p>カード製作者</p>
                {{ with .Params.meta_author }}<p>{{ . }}</p>{{ end }}
                //{{ with .Params.modified_date }}<p>{{ . }}</p>{{ end }}
                {{ with .Params.date }}<p>{{ . }}</p>{{ end }}
        </div>
        <div class="project-content">
            <h3 class="project-title">申込み方法、費用、仕様など</h3>
            <hr>
            {{ with .Params.main_content }}
                <p>{{ . | markdownify}}</p>
                {{ end }}    
        </div>
</div>