@font-face {
  font-family: "Yu Mincho Medium";
  font-weight: normal;
  src: local("YuMincho-Medium"), local("Yu Mincho Medium"), local("YuMincho-Regular");
  unicode-range: U+4E00 –9FEF, U+3040 –309F, 30a0–30ff;
}
@font-face {
  font-family: "Yu Mincho DemiBold";
  font-weight: normal;
  src: local("YuMincho DemiBold");
  unicode-range: U+4E00 –9FEF, U+3040 –309F, 30a0–30ff;
}
@font-face {
  font-family: "MinionPro-Regular";
  font-weight: normal;
  src: local('Minion Pro Bold'), local('MinionPro-Bold'),
  url('/fonts/MinionPro-Regular.woff2') format('woff2'),
  url('/fonts/MinionPro-Regular.woff') format('woff');
}
@font-face {
  font-family: "MinionPro-Regular";
  font-weight: normal;
  src: local('Minion Pro Bold'), local('MinionPro-Bold'),
  url('/fonts/MinionPro-Regular.woff2') format('woff2'),
  url('/fonts/MinionPro-Regular.woff') format('woff');
}

