@font-face {
    font-family: 'FutoGoB101Pro-Bold-AlphaNum';
    src: local('FutoGoB101Pro-Bold-AlphaNum'),
        url('/fonts/FutoGoB101Pro-Bold-AlphaNum.woff2') format('woff2'),
        url('/fonts/FutoGoB101Pro-Bold-AlphaNum.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Univers LT Pro';
    src: local('Univers LT Pro 75 Black'), local('UniversLTPro-75Black'),
        url('/fonts/UniversLTPro-75Black.woff2') format('woff2'),
        url('/fonts/UniversLTPro-75Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Univers LT Pro';
    src: local('Univers LT Pro 65 Bold'), local('UniversLTPro-65Bold'),
        url('/fonts/UniversLTPro-65Bold.woff2') format('woff2'),
        url('/fonts/UniversLTPro-65Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'GothicBBBPr6N-Medium-AlphaNum';
    src: local('GothicBBBPr6N-Medium-AlphaNum'),
        url('/fonts/GothicBBBPr6N-Medium-AlphaNum.woff2') format('woff2'),
        url('/fonts/GothicBBBPr6N-Medium-AlphaNum.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Univers LT Pro';
    src: local('Univers LT Pro 45 Light'), local('UniversLTPro-45Light'),
        url('/fonts/UniversLTPro-45Light.woff2') format('woff2'),
        url('/fonts/UniversLTPro-45Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'GothicBBBPr6N-Medium-AlphaNum';
    src: local('GothicBBBPr6N-Medium-AlphaNum'),
        url('/fonts/GothicBBBPr6N-Medium-AlphaNum.woff2') format('woff2'),
        url('/fonts/GothicBBBPr6N-Medium-AlphaNum.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Univers LT Pro 45';
    src: local('UniversLTPro-65Bold'),
        url('/fonts/UniversLTPro-65Bold.woff2') format('woff2'),
        url('/fonts/UniversLTPro-65Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Univers LT Pro 45';
    src: local('UniversLTPro-45Light'),
        url('/fonts/UniversLTPro-45Light.woff2') format('woff2'),
        url('/fonts/UniversLTPro-45Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Univers LT Pro 55';
    src: local('UniversLTPro-75Black'),
        url('/fonts/UniversLTPro-75Black.woff2') format('woff2'),
        url('/fonts/UniversLTPro-75Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'FutoGoB101Pro-Bold-AlphaNum';
    src: local('FutoGoB101Pro-Bold-AlphaNum'),
        url('/fonts/FutoGoB101Pro-Bold-AlphaNum.woff2') format('woff2'),
        url('/fonts/FutoGoB101Pro-Bold-AlphaNum.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }