@import "mixins.scss";

.index-wrap {
  padding-top: 50px;
  // padding-bottom: 77px;

  //grid for the whole layout until the tags
  display: grid;
  grid-template-columns: 327px 327px 327px 327px;
  grid-template-rows: 286px 330px 330px;
  grid-column-gap: 20.5px;
  grid-row-gap: 40px;
  overflow: hidden;
  .index-items {
  }
  h5.index-notetitle {
    font-size: 13px;
    line-height: 20px;
    font-family: $culnarra-go;
    padding-bottom: 15px;
    white-space: nowrap;
    position: relative;
    &:before {
      content: "\200C";
      display: block;
      position: absolute;
      right: 0em;
      // top: 3em;
      width: 50%;
      text-align: center;
      height: 1.5em;
      background-image: -webkit-linear-gradient(right, #f3f3f3, rgba(255, 255, 255, 0));
      background-image: -moz-linear-gradient(right, #f3f3f3, rgba(255, 255, 255, 0));
      background-image: -ms-linear-gradient(right, #f3f3f3, rgba(255, 255, 255, 0));
      background-image: -o-linear-gradient(right, #f3f3f3, rgba(255, 255, 255, 0));
      background-image: linear-gradient(to left, #f3f3f3, rgba(255, 255, 255, 0));
    }
  }
  .blkbox-logo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1;
  }
  .index-about {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 1;
    line-height: 1.8em;
    font-size: 1em;
    border-color: black;
    border-width: 1pt;
    border-style: solid;
    padding: 30px;
    overflow: hidden;
    h4 {
      font-family: $culnarra-go;
      font-size: 24px;
      line-height: 30px;
      font-style: bold;
      padding-bottom: 20px;
    }
    p{
      font-family: $culnarra-go;
      font-size: 16px;
      line-height: 30px;
      overflow: hidden;
    }
  }
  .index-history {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 41px;
    border-color: black;
    border-width: 1pt;
    border-style: solid;
    h4 {
      padding-bottom: 35px;
    }
    li {
      padding-bottom: 25px;
    }
  }
  .index-mod {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
    p,
    h5 {
      font-family: $culnarra-go;
      font-size: 13px;
      line-height: 20px;
      margin-bottom: 10px;
    }
    img {
      text-align: center;
      max-height: 200px;
      width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .index-card-1 {
    grid-column: 2;
    grid-row: 2;

    border-color: black;
    border-width: 1pt;
    border-style: solid;
  }
  .index-card-2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row: 2;
    border-color: black;
    border-width: 1pt;
    border-style: solid;
  }
  .index-card-3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row: 3;
    border-color: black;
    border-width: 1pt;
    border-style: solid;
  }
  .index-card-4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    border-color: black;
    border-width: 1pt;
    border-style: solid;
  }
  .index-card-5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    border-color: black;
    border-width: 1pt;
    border-style: solid;
  }
  .index-card-6 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    border-color: black;
    border-width: 1pt;
    border-style: solid;
  }
  .index-tags {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    overflow: hidden;
    .relation {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .index-tags-row {
      @include flexbox();
      @include flex-direction(row);
      @include flex-grow(0);
      @include flex(5);
      @include align-content(center);
    }
    li {
      font-size: 25px;
      line-height: 3em;
    }
  }
  .note-module {
    overflow: hidden;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    align-items: center;
    overflow: hidden;
    .index-note {
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 40px;
      padding-bottom: 44px;
      position: relative;

      .index-notetitle {
        padding-bottom: 2em;
        white-space: nowrap;
        &:before {
          content: "\200C";
          display: block;
          position: absolute;
          right: 1em;
          bottom: 3em;
          width: 50%;
          text-align: center;
          height: 1.2em;
          background-image: -webkit-linear-gradient(right, #f3f3f3, rgba(255, 255, 255, 0));
          background-image: -moz-linear-gradient(right, #f3f3f3, rgba(255, 255, 255, 0));
          background-image: -ms-linear-gradient(right, #f3f3f3, rgba(255, 255, 255, 0));
          background-image: -o-linear-gradient(right, #f3f3f3, rgba(255, 255, 255, 0));
          background-image: linear-gradient(to left, #f3f3f3, rgba(255, 255, 255, 0));
        }
      }
      .index-notebody {
        // padding-bottom: 44px;
        font-size: 1em;
        line-height: 2em;
        font-family: $yu-min;
        overflow: hidden;
        p{
          overflow: hidden;
        }
      }
    }
  }
}
.secondary-index-wrap {
  display: grid;
  grid-template-columns: 1fr 327px 327px 327px 327px 1fr;
  grid-template-rows: minmax(286px, auto) 330px 270px 330px 330px 330px 1fr;
  // grid-template-columns: 325px 325px 325px 325px 325px 325px;
  // grid-template-rows: 309px 309px 309px 309px 309px 309px;
  grid-column-gap: 20.5px;
  grid-row-gap: 46px;
  overflow: hidden;
  padding-top: 57px;
  .index-mod {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
    p,
    h5 {
      font-family: $culnarra-go;
      font-size: 13px;
      line-height: 20px;
      margin-bottom: 10px;
    }
    img {
      text-align: center;
      max-height: 200px;
      width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .index-projmod {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
    
    h5 {
      font-size: 22px;
      line-height: 30px;
      font-family: $culnarra-go;
      padding-bottom: 20px;
    }
    p{

    }
    img {
      width: 100%;
    }
  }
  .snd-index-img {
    overflow: hidden;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    overflow: hidden;
    img {
      max-width: 100%;
    }
  }
  .snd-index-img2 {
    overflow: hidden;

    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 7;
    overflow: hidden;
    img {
      max-width: 100%;
    }
  }
  // .snd-card-0 {
  //   grid-column-start: 5;
  //   grid-column-end: 6;
  //   grid-row-start: 1;
  //   grid-row-end: 2;
  //   border-color: black;
  //   border-width: 1pt;
  //   border-style: solid;
  // }
  .snd-card-1 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    border-color: black;
    border-width: 1pt;
    border-style: solid;
    overflow: hidden;
  }
  .snd-card-2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    border-color: black;
    border-width: 1pt;
    overflow: hidden;
    border-style: solid;
  }
  .snd-card-3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    overflow: hidden;
    border-color: black;
    border-width: 1pt;
    border-style: solid;
  }
  .snd-card-4 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    overflow: hidden;
    border-color: black;
    border-width: 1pt;
    border-style: solid;
  }
  .snd-card-5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    overflow: hidden;
    border-color: black;
    border-width: 1pt;
    border-style: solid;
  }
  .snd-card-6 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 7;
    border-color: black;
    border-width: 1pt;
    border-style: solid;
  }
  .note-bar {
    position: absolute;
    content: " ";
    left: 2em;
    background-color: $green;
  }
  .note-module {
    overflow: hidden;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    align-items: center;
    .index-note {
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 40px;
      padding-bottom: 44px;
      position: relative;
      .index-notetitle {
        padding-bottom: 2em;
        white-space: nowrap;
        &:before {
          content: "\200C";
          display: block;
          position: absolute;
          right: 0;
          top: 2em;
          width: 50%;
          text-align: center;
          height: 1.8em;
          background-image: -webkit-linear-gradient(right, #f3f3f3, rgba(255, 255, 255, 0));
          background-image: -moz-linear-gradient(right, #f3f3f3, rgba(255, 255, 255, 0));
          background-image: -ms-linear-gradient(right, #f3f3f3, rgba(255, 255, 255, 0));
          background-image: -o-linear-gradient(right, #f3f3f3, rgba(255, 255, 255, 0));
          background-image: linear-gradient(to left, #f3f3f3, rgba(255, 255, 255, 0));
        }
      }
      .index-notebody {
        &:before {
          content: "\200C";
          display: block;
          position: absolute;
          right: 1em;
          bottom: 2.6em;
          width: 50%;
          text-align: center;
          height: 1.8em;
          background-image: -webkit-linear-gradient(right, #f3f3f3, rgba(255, 255, 255, 0));
          background-image: -moz-linear-gradient(right, #f3f3f3, rgba(255, 255, 255, 0));
          background-image: -ms-linear-gradient(right, #f3f3f3, rgba(255, 255, 255, 0));
          background-image: -o-linear-gradient(right, #f3f3f3, rgba(255, 255, 255, 0));
          background-image: linear-gradient(to left, #f3f3f3, rgba(255, 255, 255, 0));
        }
        // padding-bottom: 44px;
        // margin-bottom: 20px;
        max-height: 150px;
        font-size: 1em;
        line-height: 2em;
        font-family: $yu-min;
        overflow: hidden;
      }
    }
  }
}
