@import "normalize.scss";
@import "include.scss";
@import "fonts.scss";
@import "flexbox.scss";

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100%;
  overflow-x: hidden;
  overflow-y: auto !important;
  margin: 0;
  padding: 0;
  /* つまり16px */
}

::-webkit-scrollbar {
  display: none;
}
html {
    background-color: #f3f3f3;
}
.body-wrap {
  max-width: 1376px;
}
