@import "normalize.scss";
@import "include.scss";
@import "fonts.scss";
@import "mixins.scss";
@import "tiny-slider.scss";
@import "singlecommon.scss";
@import "listcommon.scss";
@import "index.scss";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";



// ---------------------------------------------------
// ---------------------------------------------------
//end of mixins

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  /* つまり16px */
  box-sizing: content-box;
}

::-webkit-scrollbar {
  display: none;
}
html {
  background-color: #f3f3f3;
  height: 100%;
}
body {
  overflow-x: hidden;
  overflow-y: auto;
}
a,
area,
button,
[role="button"],
input:not([type="range"]),
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
button:active {
  transform: translateY(1px);
  filter: saturate(150%);
}
a {
  color: black;
  text-decoration: none;
  background-color: transparent; // Remove the gray background on active links in IE 10.
  // &:hover {
  //     color:  black;
  //     text-decoration: none;
  // }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    text-decoration: none;
    list-style-type: none;
    overflow: hidden;
  }
  a {
    text-decoration: none;
  }
}

hr {
  background-color: $grey;
  color: $grey;
  border: none;
  height: 1.2px;
}
.sticky-hr {
  display: none;
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $background;
  //background-color: rgba(135,135,135,1);
  z-index: 30;
  opacity: 1;
  .card-logo {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  header {
    background-color: (135, 135, 135, 1);
    opacity: 1;
  }
  .sticky-hr {
    display: block;
  }
}

.sticky + .main {
  padding-top: 50px;
}

// ----------------------------------------
// -------------------------------------------

.body-wrap {
  max-width: 1372px;
  margin: 0 auto;
}
.note-color {
  color: $green;
}
.project-color {
  color: $orange;
}
.card-color {
  color: $purple;
}

.nav-menu {
  // border-bottom: 4px solid black;
  z-index: 1;
  padding-top: 30px;
}
.row {
  text-align: center;
  align-content: center;
  align-items: center;
  @include flexbox();
  @include justify-content(space-between);
  @include flex-direction(row);
  white-space: nowrap;
  &.languages {
    @include flexbox();
    @include justify-content(space-between);
    @include flex-direction(row);
    text-align: center;
    border-bottom: 4px solid $black;
    li {
      // word-break: break-word;
      font-size: 12px;
      padding-left: 6px;
      padding-right: 6px;
      margin-top: 4px;
      margin-bottom: 5px;
      align-content: center;
      text-align: center;
      a {
        word-break: break-word;
      }
    }
  }
}
h1.title {
  font-size: 14px;
  line-height: 25px;
  margin: 0;
  font-family: $century;
}
.row-item {
  @include flex-grow(0);
}
.nav-grow {
  @include flex-grow(1);
}
.brdr-btm {
  // @include flex(flex-grow);
  @include flexbox();
  @include flex-direction(row);
  @include justify-content(space-between);
  max-width: 170px;
  padding-left: 55px;
  padding-right: 55px;
  padding-bottom: 3px;
  z-index: 10;
  position: relative;
  a {
    &:hover {
    }
  }
}
// #nav-title {
//     border-bottom: 4px solid $black;
//     a{
//         margin-bottom: 3px;
//       }
// }
.black-btm {
  border-bottom: 4px solid $black;
  a {
    margin-bottom: 3px;
  }
}
.card-btm {
  border-bottom: 4px solid $purple;
}
.project-btm {
  border-bottom: 4px solid $orange;
}
.note-btm {
  border-bottom: 4px solid $green;
}
.event-btm {
  border-bottom: 4px solid $grey;
}
.card-logo {
  max-height: auto;
  max-width: 432px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3em;
  padding-bottom: 3em;
}

.bar-wrap {
  @include flexbox();
  @include flex-direction(row);
  @include flex-grow(0);
  @include align-items(center);
  .abstract-bar {
    background-color: $grey;
    height: 2px;
    width: 50%;
    margin-top: 1.5px;
    margin-bottom: 1.5px;
  }
  .note-bar {
    background-color: $green;
    height: 4px;
    width: 50%;
  }
  .card-bar {
    background-color: $purple;
    height: 4px;
    width: 50%;
  }
  .project-bar {
    background-color: $orange;
    height: 4px;
    width: 50%;
  }
  .tag-bar {
    background-color: $black;
    height: 4px;
    width: 50%;
  }
  .event-bar {
    background-color: $grey;
    height: 4px;
    width: 50%;
  }
}

//card content
.project-contentwrap {
  padding-top: 77px;
  padding-bottom: 77px;
  display: grid;
  grid-template-columns: 260px 843px 1fr;
  grid-template-rows: minmax(63px, auto) minmax(63px, auto) minmax(63px, auto) minmax(90px, auto) minmax(58px, auto) minmax(63px, auto) minmax(63px, auto) minmax(63px, auto) 1fr;
  overflow: hidden;
  .project-item {
    border-bottom: 1px solid $orange;
    border-left: 1px solid $orange;
    border-right: 1px solid $orange;
    font-family: $culnarra-go;
    &:first-child {
      border-top: 1px solid $orange;
      border-bottom: 1px solid $orange;
      border-left: 1px solid $orange;
      border-right: 1px solid $orange;
    }
    li {
      font-size: 12px;
      line-height: 24px;
      font-family: $culnarra-go;
    }
    p {
      font-size: 12px;
      line-height: 24px;
      font-family: $culnarra-go;
    }
  }
  li {
    padding-bottom: 5px;
  }
  p {
    font-size: 1em;
    line-height: 2em;
  }
  .project-approach {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .project-topic {
    grid-column: 1;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .project-tag {
    grid-column: 1;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .project-producer {
    grid-column: 1;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .project-contact {
    grid-column: 1;
    grid-row-start: 5;
    grid-row-end: 6;
  }
  .project-author {
    grid-column: 1;
    grid-row-start: 6;
    grid-row-end: 7;
  }
  .project-revised {
    grid-column: 1;
    grid-row-start: 7;
    grid-row-end: 8;
  }
  .project-date {
    grid-column: 1;
    grid-row-start: 8;
    grid-row-end: 9;
  }
  .project-content {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 9;
    max-width: 675px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    overflow-y: hidden;
    font-family: $yu-min;
    .project-title {
      font-family: $culnarra-go;
      padding-bottom: 8px;
    }
    hr {
      background-color: $orange;
      color: $orange;
      border: none;
      height: 1px;
      margin-bottom: 15px;
    }
  }
}

.note-contentwrap {
  padding-top: 77px;
  padding-bottom: 77px;
  display: grid;
  grid-template-columns: 260px 843px 1fr;
  grid-template-rows: 63px 63px 66px 60px 65px 90px 1fr;
  overflow: hidden;
  .note-item {
    border-bottom: 1px solid $green;
    border-left: 1px solid $green;
    border-right: 1px solid $green;
    &:first-child {
      border-top: 1px solid $green;
      border-bottom: 1px solid $green;
      border-left: 1px solid $green;
      border-right: 1px solid $green;
    }
  }
  .note-approach {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .note-topic {
    grid-column: 1;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .note-tag {
    grid-column: 1;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .note-author {
    grid-column: 1;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .note-revised {
    grid-column: 1;
    grid-row-start: 5;
    grid-row-end: 6;
  }
  .note-date {
    grid-column: 1;
    grid-row-start: 6;
    grid-row-end: 7;
  }
  .note-content {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 7;
    max-width: 675px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    overflow-y: hidden;
    hr {
      background-color: $green;
      color: $green;
      border: none;
      height: 1px;
    }
  }
}

.card-related-project {
  .tns-outer {
    // width: 300px;
    margin: 0 auto;
    position:relative;
    text-align: center;
  }
  .tns-inner {
    position: relative;
  }
  .tns-nav {
    text-align: center;
  }
  .tns-nav > [aria-controls] {
    width: 9px;
    height: 9px;
    margin: 0 5px;
    padding: 0;
  }
  
  [data-controls="prev"],
  [data-controls="next"] {
    position: absolute;
    z-index: 2;
    top: 50%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    padding: 0;
    border: none;
    
    background: none;
    font-size: 30px;
    color: black;
    line-height: 20px;
    text-align: center;
  }
  [data-controls="prev"]:hover,
  [data-controls="next"]:hover {
    background: $orange;
  }
  [data-controls="prev"] {
    left: 10px;
  }
  [data-controls="next"] {
    right: 10px;
  }
  .tns-ovh {
    max-width: 676.5px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    word-break: break-all;
    overflow-wrap: break-word;
    height: auto;
    align-items: center;
  }
  .relatedprj-feed {
    
    .prjfeed-item {
      max-width: 326px;
      height: 625px;
      border-color: black;
      border-width: 1.33px;
      border-style: solid;
      margin-left: 30px;
      margin-right: 5px;
  
      h4 {
        text-align: center;
        padding-bottom: 30px;
      }
      // &:first-child {
      //   padding-left: 23px;
      //   padding-right: 18px;
      //   padding-top: 35px;
      //   padding-bottom: 35px;
      // }
      // &:nth-child(2) {
      //   padding-left: 18px;
      //   padding-right: 23px;
      //   padding-top: 35px;
      //   padding-bottom: 35px;
      // }
    }
  }
}

.related-notes {
  .tns-outer {
    // width: 300px;
    margin: 0 auto;
    position:relative;
    text-align: center;
  }
  .tns-inner {
    position: relative;
  }
  .tns-nav {
    text-align: center;
  }
  .tns-nav > [aria-controls] {
    width: 9px;
    height: 9px;
    margin: 0 5px;
    padding: 0;
  }
  
  [data-controls="prev"],
  [data-controls="next"] {
    position: absolute;
    z-index: 2;
    top: 50%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    padding: 0;
    border: none;
    
    background: none;
    font-size: 30px;
    color: black;
    line-height: 20px;
    text-align: center;
  }
  [data-controls="prev"]:hover,
  [data-controls="next"]:hover {
    background: $green;
  }
  [data-controls="prev"] {
    left: 10px;
  }
  [data-controls="next"] {
    right: 10px;
  }
  .tns-ovh {
    max-width: 676.5px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    word-break: break-all;
    overflow-wrap: break-word;
    height: auto;
    align-items: center;
  }
  .relatednote-feed {
    .notefeed-item {
      margin-left: auto;
      margin-right: auto;
      max-width: 676.5px;
      align-content: center;
      border-color: black;
      border-width: 1.33px;
      border-style: solid;
      padding-left: 33px;
      padding-right: 33px;
      padding-top: 40px;
      padding-bottom: 22px;
      // overflow: hidden;
      position: relative;
      height: 270px;
      &:before {
        // background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 50%);
        content: "\200C";
        display: block;
        position: absolute;
        right: 3.5em;
        bottom: 1.85em;
        //top: 8.5em;
        width: 25%;
        text-align: center;

        background-image: -webkit-linear-gradient(right, rgba(243, 243, 243, 1), rgba(255, 255, 255, 0));
        background-image: -moz-linear-gradient(right, rgba(243, 243, 243, 1), rgba(255, 255, 255, 0));
        background-image: -ms-linear-gradient(right, rgba(243, 243, 243, 1), rgba(255, 255, 255, 0));
        background-image: -o-linear-gradient(right, rgba(243, 243, 243, 20), rgba(255, 255, 255, 0));
        background-image: linear-gradient(to left, rgba(243, 243, 243, 20), rgba(255, 255, 255, 0));
      }

      h5 {
        padding-bottom: 33px;
      }
      p {
        font-size: 1em;
        line-height: 1.875em;
        overflow: hidden;
        padding: 0;
        margin: 0;

        //background-color: #fff;
        //white-space: nowrap;
      }
    }
  }
}

//related tag
.related-tag {
  word-break: break-all;
  .related-tag-feed {
    // @include flexbox();
    // @include flex-direction(row);
    // @include justify-content(space-between);
    max-width: 676px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    word-break: break-all;
    word-wrap: break-word;
    overflow-wrap: break-word;
    height: auto;
    font-family: $yu-min;
    font-size: 25px;
    line-height: 48px;
    font-weight: bold;
    //display: inline;
    .related-tag-item {
      border-bottom: 1pt solid $black;
      margin-bottom: 15px;
      // padding-left: 10px;
      padding-right: 10px;
      display: inline-block;
      overflow-wrap: break-word;
     // overflow-wrap: break-word;
     li {
      display: inline;
      overflow-wrap: break-word;
     }
    }
  }
}

.relation {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  h3 {
    font-family: $toppan;
    font-size: 36px;
    line-height: 60px;
    font-kerning: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 65px;
  }
}

.related-cards {
  .tns-outer {
    // width: 300px;
    margin: 0 auto;
    position:relative;
    text-align: center;
  }
  .tns-inner {
    position: relative;
  }
  .tns-nav {
    text-align: center;
  }
  .tns-nav > [aria-controls] {
    width: 9px;
    height: 9px;
    margin: 0 5px;
    padding: 0;
  }
  
  [data-controls="prev"],
  [data-controls="next"] {
    position: absolute;
    z-index: 2;
    top: 50%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    padding: 0;
    border: none;
    
    background: none;
    font-size: 30px;
    color: black;
    line-height: 20px;
    text-align: center;
  }
  [data-controls="prev"]:hover,
  [data-controls="next"]:hover {
    background: $green;
  }
  [data-controls="prev"] {
    left: 10px;
  }
  [data-controls="next"] {
    right: 10px;
  }
  .tns-ovh {
    max-width: 676.5px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    word-break: break-all;
    overflow-wrap: break-word;
    height: auto;
    align-items: center;
  }
  .relatedcard-feed {    
    .cardfeed-item {
      align-items: center;
      margin-left: 25px;
      margin-right: 25px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      padding-top: 32px;
      border-color: black;
      border-width: 1pt;
      border-style: solid;
      max-width: 287px;
      width: 100%;
      overflow-x: hidden;
      li {
        text-align: center;
        img {
          max-height: 200px;
          width: auto;
        }
      }
    }

    h4 {
      overflow-x: hidden;
      // word-break: break-all;
      font-size: 18px;
      margin-bottom: 15px;
    }
  }
}
.cardfeed-item {
  width: 326px;
}
//footer
.global-footer {
  background-color: black;
  .footer-wrap {
    @include flexbox();
    @include flex-direction(row);
    @include flex-grow(0);
    @include justify-content(space-between);
    max-width: 1372px;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    align-items: center;
  }

  .box-logo {
    max-width: 233px;
    height: auto;
    path {
      fill: white;
    }
  }
  .blkbox-logo {
    max-width: 233px;
    height: auto;
    path {
      fill: black;
    }
  }
  .footer-item {
    h4,
    p,
    a {
      color: white;
    }
    h4 {
      line-height: 2em;
      font-size: 16px;
      letter-spacing: auto;
      font-family: $culnarra-go;
      &:first-of-type {
        padding-top: 57px;
      }
    }
    p {
      font-family: $yu-min;
      line-height: 25px;
      font-size: 12px;
      letter-spacing: auto;
    }
    &#copyright {
      padding-top: 60px;
      font-family: $culnarra-go;
      font-size: 14px;
      line-height: 28px;
    }
    .footer-icons {
      padding-top: 20px;
      @include flexbox();
    @include flex-direction(row);
    @include justify-content(flex-start);
    @include flex-grow(0);
    max-width: 150px;
      .twitter-logo {
        max-width: 35px;
        display: inline;
        svg {
          fill: white;
        }
      }
      .insta-logo {
        max-width: 35px;
        display: inline;
        svg {
          fill: white;
        }
      }
      .facebook-logo {
        max-width: 35px;
        display: inline;
        svg {
          fill: white;
        }
      }
    }
  }
  .footer-info {
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(space-between);
    padding-top: 85px;
    padding-bottom: 85px;
  }
  
}


.event-contentwrap {
  padding-top: 77px;
  padding-bottom: 77px;
  display: grid;
  grid-template-columns: 260px 843px 1fr;
  grid-template-rows: minmax(63px, auto) minmax(63px, auto) minmax(66px, auto) minmax(60px, auto) minmax(65px, auto) minmax(
      90px,
      auto
    ) 1fr;
  overflow: hidden;
  .event-item {
    border-bottom: 1px solid $grey;
    border-left: 1px solid $grey;
    border-right: 1px solid $grey;
    &:first-child {
      border-top: 1px solid $grey;
      border-bottom: 1px solid $grey;
      border-left: 1px solid $grey;
      border-right: 1px solid $grey;
    }
  }
  .event-approach {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .event-topic {
    grid-column: 1;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .event-author {
    grid-column: 1;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .event-revised {
    grid-column: 1;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .event-date {
    grid-column: 1;
    grid-row-start: 5;
    grid-row-end: 6;
  }
  .event-content {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 7;
    max-width: 675px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    overflow-y: hidden;
    h3 {
      padding-bottom: 15px;
      font-family: $culnarra-go;
      font-size: 20px;
      line-height: 48px;
    }
    .event-title {
      padding-bottom: 15px;
    }
    hr {
      background-color: $grey;
      color: $grey;
      border: none;
      height: 1px;
      margin-bottom: 28px;
    }
    li,p {
      font-size: 20px;
      line-height: 48px;
      font-family: $yu-min;
      letter-spacing: 0;
      font-kerning: auto;
    }
    
  }
}

.event-info {
  background-color: $grey;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  .event-infotitle {
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 15px;
  }
  .event-infogrid {
    padding-top: 37px;
    display: grid;
    grid-template-columns: 609px 609px;
    grid-template-rows: 458px;
    grid-column-gap: 86px;
    .event-infoitem {
      display: grid;
      grid-template-columns: 609px;
      grid-template-rows: minmax(48px, auto) minmax(48px, auto) minmax(48px, auto) minmax(48px, auto) minmax(48px, auto) minmax(
          48px,
          auto
        );
      grid-row-gap: minmax(20px, auto);
      .event-infoitem-child {
        position: relative;
        h5 {
          font-size: 16px;
          text-align: left;
        }
        p {
          text-indent: 2em;
        }
      }
    }
  }
}


.slider-arrow {
  position: absolute;
  display: block;
  padding: 20px;
  font-size: 25px;
  .glide__arrow--right {
    bottom: 50%;
    right: 30px;
  }
  .glide__arrow--left {
    bottom: 50%;
    left: 30px;
  }
}