{{ partial "head.html" . }}

<body>
    <div class="body-wrap">
        {{ partial "header.html" . }}
        {{ partial "card-logo.html" . }}
        <div class="bar-wrap">
            <hr class="tag-bar">
            <hr class="abstract-bar">
        </div>

        <div class="relation related-tag">
            <div class="related-tag-feed">
                <!-- need to range so that first 5 or so get layed out then add a linebreak -->
                <a href="">
                    <h4 class="related-tag-item">#曹洞宗</h4>
                </a>
                <a href="">
                    <h4 class="related-tag-item">#曹洞宗</h4>
                </a>
                <a href="">
                    <h4 class="related-tag-item">#曹洞宗</h4>
                </a>
                <a href="">
                    <h4 class="related-tag-item">#曹洞宗</h4>
                </a>
                <a href="">
                    <h4 class="related-tag-item">#曹洞宗</h4>
                </a>

            </div>
            <div class="related-tag-feed">
                <!-- need to range so that first 5 or so get layed out then add a linebreak -->
                <h4 class="related-tag-item">#曹洞宗</h4>
                <h4 class="related-tag-item">#曹洞宗</h4>
                <h4 class="related-tag-item">#曹洞宗</h4>
                <h4 class="related-tag-item">#曹洞宗</h4>
                <h4 class="related-tag-item">#曹洞宗</h4>
            </div>
        </div>
        <div class="taglist-cardwrap">
            <div class="taglist-carditem">
                <a href=""></a>
                <div class="taglist-cardimage">
                    <img src="{{ "/img/dummy2.jpg" | relURL }}">
                </div>
                <div class="taglist-cardimagecap">
                    <figcaption>
                        <div class="">
                            <p>新萬來舎(第二研究室)</p>
                            <p>新萬來舎(第二研究室)</p>
                        </div>
                        <div class="">
                            <p>URI: NOG_1006</p>
                            <p>URI: NOG_1006</p>
                            <p>URI: NOG_1006</p>
                        </div>
                    </figcaption>
                </div>
                <div class="taglist-cardinfo">
                    <h5 class="taglist-cardtitle">「泉岳寺と禅の文化」レポート</h5>
                    <p class="taglist-abs">堀川貴司は、日本の国文学者、慶應義塾大学教授。大阪府生まれ。東京学芸大学教育学部附属高等学校卒、</p>
                    <div class="taglist-itemtag-row">
                        <p>#禅</p>
                        <p>#曹洞宗</p>
                        <p>#禅</p>
                        <p>#曹洞宗</p>
                        <p>#曹洞宗</p>
                        <p>#禅</p>
                        <p>#禅</p>
                    </div>
                </div>
                </a>
            </div>
            <div class="taglist-carditem">
                <a href=""></a>
                <div class="taglist-cardimage">
                    <img src="{{ "/img/dummy2.jpg" | relURL }}">
                </div>
                <div class="taglist-cardimagecap">
                    <figcaption>
                        <div class="">
                            <p>新萬來舎(第二研究室)</p>
                            <p>新萬來舎(第二研究室)</p>
                        </div>
                        <div class="">
                            <p>URI: NOG_1006</p>
                            <p>URI: NOG_1006</p>
                            <p>URI: NOG_1006</p>
                        </div>
                    </figcaption>
                </div>
                <div class="taglist-cardinfo">
                    <h5 class="taglist-cardtitle">「泉岳寺と禅の文化」レポート</h5>
                    <p class="taglist-abs">堀川貴司は、日本の国文学者、慶應義塾大学教授。大阪府生まれ。東京学芸大学教育学部附属高等学校卒、</p>
                    <div class="taglist-itemtag-row">
                        <p>#禅</p>
                        <p>#曹洞宗</p>
                        <p>#禅</p>
                        <p>#曹洞宗</p>
                        <p>#曹洞宗</p>
                        <p>#禅</p>
                        <p>#禅</p>
                    </div>
                </div>
                </a>
            </div>
            <div class="taglist-carditem">
                <a href=""></a>
                <div class="taglist-cardimage">
                    <img src="{{ "/img/dummy2.jpg" | relURL }}">
                </div>
                <div class="taglist-cardimagecap">
                    <figcaption>
                        <div class="">
                            <p>新萬來舎(第二研究室)</p>
                            <p>新萬來舎(第二研究室)</p>
                        </div>
                        <div class="">
                            <p>URI: NOG_1006</p>
                            <p>URI: NOG_1006</p>
                            <p>URI: NOG_1006</p>
                        </div>
                    </figcaption>
                </div>
                <div class="taglist-cardinfo">
                    <h5 class="taglist-cardtitle">「泉岳寺と禅の文化」レポート</h5>
                    <p class="taglist-abs">堀川貴司は、日本の国文学者、慶應義塾大学教授。大阪府生まれ。東京学芸大学教育学部附属高等学校卒、</p>
                    <div class="taglist-itemtag-row">
                        <p>#禅</p>
                        <p>#曹洞宗</p>
                        <p>#禅</p>
                        <p>#曹洞宗</p>
                        <p>#曹洞宗</p>
                        <p>#禅</p>
                        <p>#禅</p>
                    </div>
                </div>
                </a>
            </div>
            <div class="taglist-carditem">
                <a href=""></a>
                <div class="taglist-cardimage">
                    <img src="{{ "/img/dummy2.jpg" | relURL }}">
                </div>
                <div class="taglist-cardimagecap">
                    <figcaption>
                        <div class="">
                            <p>新萬來舎(第二研究室)</p>
                            <p>新萬來舎(第二研究室)</p>
                        </div>
                        <div class="">
                            <p>URI: NOG_1006</p>
                            <p>URI: NOG_1006</p>
                            <p>URI: NOG_1006</p>
                        </div>
                    </figcaption>
                </div>
                <div class="taglist-cardinfo">
                    <h5 class="taglist-cardtitle">「泉岳寺と禅の文化」レポート</h5>
                    <p class="taglist-abs">堀川貴司は、日本の国文学者、慶應義塾大学教授。大阪府生まれ。東京学芸大学教育学部附属高等学校卒、</p>
                    <div class="taglist-itemtag-row">
                        <p>#禅</p>
                        <p>#曹洞宗</p>
                        <p>#禅</p>
                        <p>#曹洞宗</p>
                        <p>#曹洞宗</p>
                        <p>#禅</p>
                        <p>#禅</p>
                    </div>
                </div>
                </a>
            </div>
        </div>

        <div class="taglist-projectwrap">
            <div class="taglist-projectitem">
                <div class="taglist-projectimage">
                    <img src="{{ "/img/arte.png" | relURL }}">
                </div>
                <div class="taglist-projectimagecap">
                    <figcaption>
                        <div class="">
                            <p>新萬來舎(第二研究室)</p>
                            <p>新萬來舎(第二研究室)</p>
                        </div>
                        <div class="">
                            <p>URI: NOG_1006</p>
                            <p>URI: NOG_1006</p>
                            <p>URI: NOG_1006</p>
                        </div>
                    </figcaption>
                </div>
                <div class="taglist-projectinfo">
                    <h5 class="taglist-projecttitle">「泉岳寺と禅の文化」レポート</h5>
                    <p class="taglist-projectabs">堀川貴司は、日本の国文学者、慶應義塾大学教授。大阪府生まれ。東京学芸大学教育学部附属高等学校卒、</p>
                    <div class="taglist-itemtag-row">
                        <p>#禅</p>
                        <p>#曹洞宗</p>
                        <p>#禅</p>
                        <p>#曹洞宗</p>
                        <p>#曹洞宗</p>
                        <p>#禅</p>
                        <p>#禅</p>
                    </div>
                </div>
            </div>
            <div class="taglist-projectitem">
                <div class="taglist-projectimage">
                    <img src="{{ "/img/arte.png" | relURL }}">
                </div>
                <div class="taglist-projectimagecap">
                    <figcaption>
                        <div class="">
                            <p>新萬來舎(第二研究室)</p>
                            <p>新萬來舎(第二研究室)</p>
                        </div>
                        <div class="">
                            <p>URI: NOG_1006</p>
                            <p>URI: NOG_1006</p>
                            <p>URI: NOG_1006</p>
                        </div>
                    </figcaption>
                </div>
                <div class="taglist-projectinfo">
                    <h5 class="taglist-projecttitle">「泉岳寺と禅の文化」レポート</h5>
                    <p class="taglist-projectabs">堀川貴司は、日本の国文学者、慶應義塾大学教授。大阪府生まれ。東京学芸大学教育学部附属高等学校卒、</p>
                    <div class="taglist-itemtag-row">
                        <p>#禅</p>
                        <p>#曹洞宗</p>
                        <p>#禅</p>
                        <p>#曹洞宗</p>
                        <p>#曹洞宗</p>
                        <p>#禅</p>
                        <p>#禅</p>
                    </div>
                </div>
            </div>
            <div class="taglist-projectitem">
                <div class="taglist-projectimage">
                    <img src="{{ "/img/arte.png" | relURL }}">
                </div>
                <div class="taglist-projectimagecap">
                    <figcaption>
                        <div class="">
                            <p>新萬來舎(第二研究室)</p>
                            <p>新萬來舎(第二研究室)</p>
                        </div>
                        <div class="">
                            <p>URI: NOG_1006</p>
                            <p>URI: NOG_1006</p>
                            <p>URI: NOG_1006</p>
                        </div>
                    </figcaption>
                </div>
                <div class="taglist-projectinfo">
                    <h5 class="taglist-projecttitle">「泉岳寺と禅の文化」レポート</h5>
                    <p class="taglist-projectabs">堀川貴司は、日本の国文学者、慶應義塾大学教授。大阪府生まれ。東京学芸大学教育学部附属高等学校卒、</p>
                    <div class="taglist-itemtag-row">
                        <p>#禅</p>
                        <p>#曹洞宗</p>
                        <p>#禅</p>
                        <p>#曹洞宗</p>
                        <p>#曹洞宗</p>
                        <p>#禅</p>
                        <p>#禅</p>
                    </div>
                </div>
            </div>
            <div class="taglist-projectitem">
                <div class="taglist-projectimage">
                    <img src="{{ "/img/arte.png" | relURL }}">
                </div>
                <div class="taglist-projectimagecap">
                    <figcaption>
                        <div class="">
                            <p>新萬來舎(第二研究室)</p>
                            <p>新萬來舎(第二研究室)</p>
                        </div>
                        <div class="">
                            <p>URI: NOG_1006</p>
                            <p>URI: NOG_1006</p>
                            <p>URI: NOG_1006</p>
                        </div>
                    </figcaption>
                </div>
                <div class="taglist-projectinfo">
                    <h5 class="taglist-projecttitle">「泉岳寺と禅の文化」レポート</h5>
                    <p class="taglist-projectabs">堀川貴司は、日本の国文学者、慶應義塾大学教授。大阪府生まれ。東京学芸大学教育学部附属高等学校卒、</p>
                    <div class="taglist-itemtag-row">
                        <p>#禅</p>
                        <p>#曹洞宗</p>
                        <p>#禅</p>
                        <p>#曹洞宗</p>
                        <p>#曹洞宗</p>
                        <p>#禅</p>
                        <p>#禅</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="taglist-notewrap">
            <div class="taglist-noteitem">
                <a href="">
                    <!-- <div class="notelist-imagecap">
                                        <figcaption>
                                                <div class="">
                                                        <p>新萬來舎(第二研究室)</p>
                                                        <p>新萬來舎(第二研究室)</p>
                                                    </div>
                                                    <div class="">
                                                        <p>URI: NOG_1006</p>
                                                        <p>URI: NOG_1006</p>
                                                        <p>URI: NOG_1006</p>
                                                    </div>
                                        </figcaption>
                                    </div> -->
                    <div class="taglist-noteinfo">
                        <h5 class="taglist-notetitle">舞踏：越境する身体</h5>
                        <p class="taglist-noteabs">
                            土方巽の《禁色》（1959）発表から半世紀が過ぎ、舞踏は国や地域を越えた広がりを見せています。世界の各地でパフォーマンスやワークショップが開催されているほか、様々な研究者により舞踏研究が行われています。「舞踏：越境する身体」では
                        </p>
                        <div class="taglist-noteitemtag-row">
                            <p>#禅</p>
                            <p>#曹洞宗</p>
                            <p>#禅</p>
                            <p>#曹洞宗</p>
                            <p>#曹洞宗</p>
                            <p>#禅</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="taglist-noteitem">
                <a href="">
                    <!-- <div class="notelist-imagecap">
                                            <figcaption>
                                                    <div class="">
                                                            <p>新萬來舎(第二研究室)</p>
                                                            <p>新萬來舎(第二研究室)</p>
                                                        </div>
                                                        <div class="">
                                                            <p>URI: NOG_1006</p>
                                                            <p>URI: NOG_1006</p>
                                                            <p>URI: NOG_1006</p>
                                                        </div>
                                            </figcaption>
                                        </div> -->
                    <div class="taglist-noteinfo">
                        <h5 class="taglist-notetitle">舞踏：越境する身体</h5>
                        <p class="taglist-noteabs">
                            土方巽の《禁色》（1959）発表から半世紀が過ぎ、舞踏は国や地域を越えた広がりを見せています。世界の各地でパフォーマンスやワークショップが開催されているほか、様々な研究者により舞踏研究が行われています。「舞踏：越境する身体」では
                        </p>
                        <div class="taglist-noteitemtag-row">
                            <p>#禅</p>
                            <p>#曹洞宗</p>
                            <p>#禅</p>
                            <p>#曹洞宗</p>
                            <p>#曹洞宗</p>
                            <p>#禅</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    {{partial "footer.html" . }}
</body>

</html>